{% load static %}

<style>
    .logo {
        font-size: 3.5rem;
        display: block;
        font-family: rage;
        width: 100%;
        color: var(--blue) !important;
    }
</style>

<!-- Sidebar Start -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a class="logo" href="{% url 'admin:dashboard' %}">{{ APP_NAME }}</a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Home</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'admin:dashboard' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'admin:add_property' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-home-plus"></i>
                        </span>
                        <span class="hide-menu">Add Property</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">{{ APP_NAME }}</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'admin:agents' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-briefcase"></i>
                        </span>
                        <span class="hide-menu">Agents</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'admin:add_agent' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-user-plus"></i>
                        </span>
                        <span class="hide-menu">Add Agents</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'admin:add_review' %}" aria-expanded="false">
                        <span>
                            <i class="ti ti-pencil-plus"></i>
                        </span>
                        <span class="hide-menu">Add Reviews</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->